@font-face {
    font-family: 'Nasalization Rg';
    src: url('fonts/nasalization-rg.ttf');
}

#logoText, .button {
    -fx-font-family: "Nasalization Rg";
    -fx-fill: -fx-text-inner-color;
    -fx-font-size: 48;
}

.button {
    -fx-font-size: 50;
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgb(30, 30, 30) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

#line {
    -fx-stroke: #a9ff00;
}

#lineVertical {
    -fx-stroke: linear-gradient(rgb(30, 30, 30), rgb(80, 255, 0));
}